.main-examples {
  width: 1920px;
  min-height: 1162px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  border: 2px solid #ff0000;
  box-sizing: border-box;
}
.main-examples .examples_hider {
  font-family: Raleway;
  font-size: 30px;
  line-height: 1.2;
  font-weight: 600;
  color: #555555;
}
.main-examples .examples_text {
  font-family: Montserrat;
  font-size: 16px;
  line-height: 28px;
  font-weight: 300;
  color: #8c8c8c;
  text-align: center;
}
.main-examples .examples_buttons {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  box-sizing: border-box;
  width: 605px;
  height: 32px;
  border: 2px solid #ff0000;
}
.main-examples .examples_buttons button {
  height: 32px;
  background-color: #ffffff;
  border: 1px solid #ebebeb;
  border-radius: 3px;
  font-family: Montserrat;
  font-size: 14px;
  line-height: 21px;
  font-weight: 300;
  color: #8c8c8c;
  text-align: center;
}
.main-examples .examples_buttons button:active {
  color: #ffffff;
  background-color: #998675;
}
.main-examples .examples_buttons button:hover {
  color: #555555;
  background-color: #d4cfcf;
}
.main-examples .examples_buttons_all {
  width: 70px;
}
.main-examples .examples_buttons_web {
  width: 120px;
}
.main-examples .examples_buttons_mobile {
  width: 120px;
}
.main-examples .examples_buttons-illustration {
  width: 120px;
}
.main-examples .examples_buttons_photo {
  width: 135px;
}
.main-examples .examples_pictures {
  width: 1170px;
  height: 704px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: flex-start;
  border: 2px solid #ff0000;
  box-sizing: border-box;
}
.main-examples .examples_pictures article {
  width: 370px;
  height: 337px;
  border: 2px solid #ff0000;
  padding: 0 0 0 0;
  background-color: #fbfaf8;
}
.main-examples .examples_pictures article .examples_article_text {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  position: relative;
}
.main-examples .examples_pictures article .examples_article_text:before {
  content: "";
  display: block;
  border: 30px solid transparent;
  border-bottom: 10px solid #fbfaf8;
  position: absolute;
  top: -44px;
  left: 19px;
}
.main-examples .examples_pictures article .examples_pictures_span {
  display: block;
  font-family: Raleway;
  font-size: 20px;
  line-height: 1.2;
  font-weight: 500;
  color: #c7b299;
  padding: 30px 0 0 29px;
}
.main-examples .examples_pictures article .examples_pictures_paragraph {
  display: block;
  font-family: Montserrat;
  font-size: 14px;
  line-height: 20px;
  font-weight: 300;
  color: #d1d1d1;
  padding: 0 0 27px 30px;
  margin: 0;
}
.main-examples .examples_pictures article:active {
  background-color: #362f2d;
}
.main-examples .examples_pictures article:active .examples_pictures_span {
  color: #ffffff;
}
.main-examples .examples_pictures article:active .examples_pictures_paragraph {
  color: #c7b299;
}
.main-examples .examples_pictures article:active .examples_article_text:before {
  border-bottom: 10px solid #362f2d;
}
.main-examples .examples_pictures .examples_pictures_four {
  align-self: flex-end;
}
.main-examples .examples_pictures .examples_pictures_five {
  align-self: flex-end;
}
.main-examples .examples_pictures .examples_pictures_six {
  align-self: flex-end;
}
.main-examples .button_load {
  width: 170px;
  height: 50px;
  background-color: #ffffff;
  border-radius: 3px;
  font-family: Raleway;
  font-size: 14px;
  line-height: 23px;
  font-weight: 800;
  text-transform: uppercase;
  color: #8c8c8c;
}
.main-examples .button_load:active {
  color: #ffffff;
  background-color: #998675;
}
.main-examples .button_load:hover {
  background-color: #d4cfcf;
  color: #555555;
}
